Source: tanglu-meta
Section: metapackages
Priority: optional
Maintainer: Tanglu Developers <tanglu-devel-discuss@lists.tanglu.org>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 8), germinate (>= 1.18)

Package: tanglu-minimal
Priority: important
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Minimal core of Tanglu
 This package depends on all of the packages in the Tanglu minimal system,
 that is a functional command-line system with the following capabilities:
 .
  - Boot
  - Detect hardware
  - Connect to a network
  - Install packages
  - Perform basic diagnostics
 .
 It is also used to help ensure proper upgrades, so it is recommended to
 not remove this package.

Package: tanglu-standard
Priority: standard
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Suggests: rsyslog
Description: Tanglu standard system
 This package depends on all of the packages in the Tanglu standard system.
 This set of packages provides a comfortable command-line Unix-like
 environment.
 .
 It is also used to help ensure proper upgrades, so it is recommended to
 not remove this package.

Package: tanglu-gnome
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Tanglu GNOME 3 desktop system
 This package depends on all of the packages in the
 Tanglu GNOME 3 desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended to
 not remove this package.

Package: tanglu-kde
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Tanglu KDE Plasma desktop system
 This package depends on all of the packages in the
 Tanglu KDE Plasma desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended to
 not remove this package.

Package: tanglu-fvwm-nightshade
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Tanglu FVWM-Nightshade desktop system
 This package depends on all of the packages in the
 Tanglu FVWM-Nightshade desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended to
 not remove this package.
